@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{

    background: url("../images/1.jpg");
   
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
   
   display: flex;
   justify-content: center;
   align-items: center;
   
}

#scoreBox{
    position: absolute;
    
    top: 50px;
    right: 80px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
   
}

#hiscoreBox{
    position: absolute;
    top: 90px;
    right: 20px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    
}

#board{
    
    
    /*background: rgb(200, 233, 247);*/
   
    /*background: linear-gradient(rgb(158, 183, 228), rgb(238, 151, 93));*/
    width: 82vmin;
    height: 82vmin;
   
    position: fixed;
    
    border: 10px solid black;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    
    
}

.head{
    background: black ;
    opacity: 1;
    border: 2px solid white; 
    transform: scale(1.05);
    border-radius: 25px;
}

.snake{
    background-color:red;
    opacity: 0.7;
    border: .25vmin solid white;
    border-radius: 25px;
}

.food{
    background: rgb(44, 6, 184);
    border: .25vmin solid white;
    border-radius: 25px;
}
#text{
   position:absolute;
   left: 20px;
   
}
#header{
    position: absolute;
    top: 10px;
    letter-spacing: 1rem;
}